.mobile-menu {
  width: 100%;
  height: 100%;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.mobile-menu__btn > span {
  background-color: #fff;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.menu-open #container__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open.header__nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.menu-open.mobile-menu__btn > span {
  background-color: #fff;
}

.menu-open.mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transform: translateY(11px) rotate(45deg);
          transform: translateY(11px) rotate(45deg);
}

.menu-open.mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open.mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transform: translateY(-11px) rotate(-45deg);
          transform: translateY(-11px) rotate(-45deg);
}

body {
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  letter-spacing: .05em;
  color: #000;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

#container {
  position: relative;
}

#container__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 1;
}

.section-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 15px;
}

.section-inner {
  padding: 50px 20px;
}

.section-title {
  font-size: 28px;
  letter-spacing: .08em;
}

.section-caption {
  font-size: 14px;
  margin: 30px auto 30px;
  line-height: 30px;
  letter-spacing: .04em;
}

.link-btn {
  display: block;
  width: 160px;
  line-height: 40px;
  background-color: #000;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none !important;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
}

.link-btn:hover {
  color: #fff;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
}

/* ---------------------------- */
/* header
/* ---------------------------- */
.header {
  padding: 19px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

.header.triggered {
  background-color: rgba(0, 0, 0, 0.8);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: rgba(40, 47, 53, 0.9);
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 100%;
}

.header__li {
  font-size: 20;
  font-weight: bold;
  margin-bottom: 30px;
}

.header__li > a {
  text-decoration: none;
  color: #fff;
}

/* ---------------------------- */
/* top-visual
/* ---------------------------- */
.top-visual {
  width: 100%;
  height: 100vh;
  min-height: 580px;
  position: relative;
  margin-bottom: 80px;
}

.top-img {
  width: 76.4%;
  height: 80%;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/kv-img.jpg");
}

.top-img::after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  background-color: #000;
  z-index: -1;
}

.main-copy {
  position: absolute;
  bottom: 230px;
  right: 0;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0em;
}

.main-copy > p {
  margin: 0;
}

.catchphrase {
  font-size: 56px;
  letter-spacing: .07em;
  line-height: 50px;
  margin-top: 15px;
}

/* ---------------------------- */
/* About us
/* ---------------------------- */
.bg-wrapper-about {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/about-img.jpg");
}

.bg-inner-about {
  max-width: 590px;
  background-color: #fff;
  opacity: 0.9;
}

/* ---------------------------- */
/* Works
/* ---------------------------- */
.works-img {
  width: 100%;
  height: 232px;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/works-img.jpg");
}

/* ---------------------------- */
/* Culture
/* ---------------------------- */
.culture-img {
  height: 232px;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/culture-img.jpg");
}

.pc-flex {
  width: 100%;
  background-color: #F0F0F0;
}

.pc-flex-inner {
  max-width: 1100px;
}

.pc-flex-wrapper {
  max-width: 520px;
}

/* ---------------------------- */
/* Topics
/* ---------------------------- */
.topics-list {
  padding: 0;
}

.topics-item {
  margin-bottom: 20px;
  border-bottom: 2px solid #CECECE;
}

.date {
  font-size: 10px;
  color: #CECECE;
  margin-bottom: 10px;
}

.caption {
  font-size: 12px;
  margin-bottom: 10px;
}

/* ---------------------------- */
/* Contact
/* ---------------------------- */
.bg-wrapper-contact {
  background-color: #F2F2F2;
}

.contact-img {
  height: 232px;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/contact-img.jpg");
  margin-bottom: 30px;
}

/* ---------------------------- */
/* footer
/* ---------------------------- */
.footer {
  height: 50px;
  color: #fff;
  background-color: #525252;
  text-align: center;
  line-height: 1.6  rem;
  padding: 10px 0;
}

.bg-head-about {
  background-image: url("../../images/heading-img_about.jpg");
}

.ceo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 282px;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/ceo-img.jpg");
  z-index: 2;
}

.message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 210px;
}

.message-inner {
  width: 770px;
  height: 756px;
  margin-left: auto;
  position: relative;
  bottom: 0;
  right: 0;
  background-color: #F0F0F0;
  padding-top: 120px;
}

.company-info-list {
  border-top: 1px solid #ddd;
  margin-bottom: 40px;
}

.company-info-list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  max-width: 800px;
  margin-left: auto;
  border-bottom: 1px solid #ddd;
}

.company-info-title {
  font-weight: bold;
  -ms-flex-preferred-size: 142px;
      flex-basis: 142px;
}

.maps-outer {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 32.7%;
}

.maps-outer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-head-contact {
  background-image: url("../../images/heading-img_contact.jpg");
}

.contact-caution {
  font-size: 12px;
  padding: 4px 5px;
  background-color: #000;
  color: #fff;
  margin-left: 20px;
}

.contact-type {
  padding: 0;
}

.contact-form-list > div {
  margin-bottom: 40px;
}

.contact-form-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contact-form-text {
  width: 100%;
}

.privacy-policy__title {
  font-size: 16px;
  font-weight: bold;
}

.privacy-policy__content {
  width: 100%;
  height: 300px;
  overflow: scroll;
  padding: 25px;
  border: 1px solid black;
  line-height: 1.5;
  margin-bottom: 40px;
}

.privacy-policy__item p {
  margin-bottom: 25px;
}

.privacy-policy__check {
  text-align: center;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.contact-btn {
  width: 160px;
  height: 36px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
}

@media (min-width: 720px) {
  .section-title {
    font-size: 32px;
  }
  .section-caption {
    font-size: 16px;
  }
  /* ---------------------------- */
  /* About
/* ---------------------------- */
  .vision-wrapper {
    max-width: 415px;
  }
  /* ---------------------------- */
  /* Works
/* ---------------------------- */
  .works-img {
    height: 350px;
  }
  /* ---------------------------- */
  /* Culture
/* ---------------------------- */
  .culture-img {
    height: 350px;
  }
  /* ---------------------------- */
  /* Topics
/* ---------------------------- */
  .date {
    font-size: 12px;
  }
  .caption {
    font-size: 14px;
  }
  /* ---------------------------- */
  /* Contact
/* ---------------------------- */
  .contact-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .type-item {
    margin-right: 60px;
  }
}

@media (min-width: 1080px) {
  .section-wrapper {
    padding: 50px 0;
  }
  .main-copy {
    font-size: 20px;
    right: 12%;
  }
  .catchphrase {
    font-size: 72px;
    line-height: 60px;
  }
  /* ---------------------------- */
  /* About us
/* ---------------------------- */
  .bg-inner-about {
    margin: 110px auto 110px 50px;
  }
  .message-wrapper {
    padding-top: 210px;
  }
  .message-inner {
    padding: 120px 185px 90px;
  }
  /* ---------------------------- */
  /* Works
/* ---------------------------- */
  /* ---------------------------- */
  /* Culture
/* ---------------------------- */
  .pc-flex-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  .pc-flex-wrapper {
    width: 100%;
    margin: 0;
    padding: 170px 0 60px 0;
  }
  /* ---------------------------- */
  /* Topics
/* ---------------------------- */
  .date {
    font-size: 12px;
  }
  .caption {
    font-size: 14px;
  }
  .wrapper-topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .right {
    margin-left: auto;
  }
  /* ---------------------------- */
  /* Contact
/* ---------------------------- */
  .bg-wrapper-contact {
    max-width: 100%;
  }
  .contact-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1100px;
    margin: 0 auto;
  }
  .contact-content {
    width: 440px;
  }
  .contact-img {
    width: 580px;
    height: 390px;
  }
}
/*# sourceMappingURL=style.css.map */