body {
  font-family: heisei-maru-gothic-std, sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
#container {
  overflow: hidden;
}
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  margin: 8px auto;

  &__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  & .site-title {
    // justify-content: center;
    font-size: 22px;
    color: #81A238;
    font-weight: 800;
    margin-left: 15px;
    margin-top: 8px;
    & > p {
      margin: 0%;
    }
  }
  &__nav {
    display: flex;
    align-items:flex-end;
  }

  &__ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;    
  }
  &__li {
    font-size: 10px;
    & > a {
      text-decoration: none;
      color: #757575;
    }
    & :nth-child(0) {
      margin-right: 10px;
    }
    & :nth-child(1) {
      margin-right: 27px
    }
  }
}

.category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &__item {
    display: flex;
    width: 198px;
    height: 23px;
    background-color: #ACA2A2;
    color: #fff;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    margin-top: 6px;
    margin-left: 6px;
    align-items: flex-end;
    & > p {
      margin: 0;
    }
  }
}

.picture-book {
  position: relative;
  display: flex;

  & .zukan1 {
    display: none;
  }
  // & .appear {
  //   display: block;
  // }
  &__inner {
    position: relative;
    display: grid;
    background-color: #F1EDED;
    grid-template-rows: 130px 130px 130px 130px;
    grid-template-columns: 130px 130px 130px;
    column-gap: 6px;
    row-gap: 6px;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 28px;
    padding-left: 6px;
    padding-right: 6px;

    & > div {
      background-size: cover;
      background-position: center;
      background-color: #fff;
    }

    & a {
      text-decoration: none;
    }

    
    & :nth-child(1) {
      position: relative;
      grid-row: 1;
      grid-column: 1;
      background-image: url("../../image/mejiro_01.jpg");
      & .cover {
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: all 0.8s ease;
        background: rgba(131, 158, 246, 0.5);
      } 
      & .content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(131, 158, 246, 0.5);
        text-align: center;
        color: #fff;
        & p {
          font-family: toppan-bunkyu-mincho-pr6n, serif;
          background: transparent;
          margin: 0 auto;
        }
        & .bird-ja {
          margin-top: 10px;
          font-weight: 600;
          font-size: 26px;
        }
        & .bird-en {
          font-size: 12px;
        }
        & .more-btn {
          margin-top: 30px;
          font-size: 18px;
          border: 2px solid;
          border-radius: 20px;
          width: 76px;
          height: 25px;
          line-height:17px;
        }
      }
      &:hover {
        &.cover {
          opacity: 1;
        }
      }
    }
    & :nth-child(2) {
      grid-row: 1;
      grid-column: 2;
      background-image: url("../../image/kibitaki.jpg");
    }
    & :nth-child(3) {
      grid-row: 1;
      grid-column: 3;
      background-image: url("../../image/suzume.jpg");
    }
    & :nth-child(4) {
      grid-row: 2;
      grid-column: 1/3;
      text-align: center;
      font-family: toppan-bunkyu-mincho-pr6n, serif;
      font-weight:600;
      & > p {
        line-height: 48px;
        font-size: 48px;
        & > span {
          line-height: 0px;
          font-size: 26px;
        }
      }
    }
    & :nth-child(6) {
      grid-row: 2/4;
      grid-column: 3;
      background-image: url("../../image/kogera.jpg");
    }
    & :nth-child(7) {
      grid-row: 3;
      grid-column: 1;
      background-image: url("../../image/hayabusa.jpg");
    }
    & :nth-child(8) {
      grid-row: 3;
      grid-column: 2;
      background-image: url("../../image/tobi.jpg");
    }
    & :nth-child(9) {
      grid-row: 4;
      grid-column: 1;
      background-image: url("../../image/mukudori.jpg");
    }
    & :nth-child(10) {
      grid-row: 4;
      grid-column: 2;
      background-image: url("../../image/tsubame.jpg");
    }
    & :nth-child(11) {
      grid-row: 4;
      grid-column: 3;
      background-image: url("../../image/onaga.jpg");
    }
  }
  & .next-page {
    font-size: 12px;
    color: #7B7B7B;
    position: relative;
    margin: 0;
    bottom: 24px;
    left: 340px;
  }
  & .zukan2 {
    display: none;
  }
  & .appear {
    display: block;
  }
  &__inner2 {
    position: relative;
    display: grid;
    background-color: #F1EDED;
    grid-template-rows: 130px 130px 130px 130px;
    grid-template-columns: 130px 130px 130px;
    column-gap: 6px;
    row-gap: 6px;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 34px;
    padding-left: 6px;
    padding-right: 6px;

    & > div {
      background-size: cover;
      background-position: center;
      background-color: #fff;
    }

    & :nth-child(1) {
      grid-row: 1;
      grid-column: 1;
      background-image: url("../../image/sekirei.jpg");
    }
    & :nth-child(2) {
      grid-row: 1;
      grid-column: 2;
      background-image: url("../../image/hiyodori.jpg");
    }
    & :nth-child(3) {
      grid-row: 1;
      grid-column: 3;
      background-image: url("../../image/enaga.jpg");
    }
    & :nth-child(4) {
      grid-row: 2;
      grid-column: 1;
      background-image: url("../../image/gojuukara.jpg");
    }
    & :nth-child(5) {
      grid-row: 2;
      grid-column: 2;
      background-image: url("../../image/fukurou.jpg");
    }
    & :nth-child(6) {
      grid-row: 2;
      grid-column: 3;
      background-image: url("../../image/hato.jpg");
    }
    & :nth-child(7) {
      grid-row: 3;
      grid-column: 1;
      background-image: url("../../image/kawasemi.jpg");
    }
    & :nth-child(8) {
      grid-row: 3;
      grid-column: 2;
      background-image: url("../../image/mozu.jpg");
    }
    & :nth-child(9) {
      grid-row: 3;
      grid-column: 3;
      background-image: url("../../image/sagi.jpg");
    }
    & :nth-child(10) {
      grid-row: 4;
      grid-column: 1;
      background-image: url("../../image/uguisu.jpg");
    }
    & :nth-child(11) {
      grid-row: 4;
      grid-column: 2;
      background-image: url("../../image/taka.jpg");
    }
    & :nth-child(12) {
      grid-row: 4;
      grid-column: 3;
      background-image: url("../../image/yosikiri.jpg");
    }    
  }
  & .back-page {
    font-size: 12px;
    color: #7B7B7B;
    position: relative;
    margin: 0;
    bottom: 24px;
    left: 340px;
  }
}

.witness-info {
  position: relative;
  &__inner {
    margin: 0 30px;
  }
  &__title {
    font-size: 19px;
    font-weight: 800;
    color: #6C4B4B;
    margin-bottom: 10px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #747474;
    padding-top: 12px;
    color: #747474;

    & .witness-title {
      text-align: center;
      & .witness-date {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 11px;
      }
      & .witness-bird {
        width: 103px;
        height: 21px;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        background-color: #ACA2A2;
        padding: 3px 0;
      }
    }

    & .witness-content {
      width: 231px;
      font-size: 11px;

      & .more-page {
        font-size: 12px;
        text-align: right;
      }
    }
  }
}

.guidance {
  position: relative;
  background-color: #EAE8E8;
  padding: 20px 30px;

  &__title {
    font-size: 19px;
    font-weight: 800;
    color: #6C4B4B;
    margin-bottom: 10px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    color: #747474;
    margin-bottom: 36px;
  }
  &__info {
    width: 188px;

    & > p {
      font-size: 13px;
      font-weight: 600;
      margin: 0;
    }
    & .content {
      font-size: 11px;
      font-weight: 400;
      margin-top: 10px;
    }
    & .more-page {
      font-size: 12px;
      font-weight: 400;
      text-align: right;
    }
  }
  &__item::nth-last-child() {
    margin-bottom: 0;
  }
  &__img {
    width: 136px;
    height: 103px;
    background-size: cover;
    background-position: center;
  }
}

.record {
  position: relative;
  background-color: #EAE8E8;
  padding: 20px 30px;
  margin-top: 25px;

  &__title {
    font-size: 19px;
    font-weight: 800;
    color: #6C4B4B;
    margin-bottom: 10px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    color: #747474;
    margin-bottom: 36px;
  }
  &__info {
    width: 218px;

    & > p {
      font-size: 13px;
      font-weight: 600;
      margin: 0;
    }
    & .content {
      font-size: 11px;
      font-weight: 400;
      margin-top: 10px;
    }
    & .more-page {
      font-size: 12px;
      font-weight: 400;
      text-align: right;
    }
  }
  &__item:nth-last-child() {
    margin-bottom: 0;
  }
  &__img {
    width: 113px;
    height: 113px;
    background-size: cover;
    background-position: center;
  }
}

.page-up {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-image: url("/image/PageUp.png");
  margin: 0 auto;
  margin-top: 35px;
}

.sns-share {
  display: flex;
  justify-content:space-between;
  margin: 0 48px;
  margin-top: 20px;

  & > div {
    width: 52px;
    height: 52px;
    background-size: cover;
    background-position: center;
  }
  & .fb {
    background-image: url("/image/C_sns_1.gif");
  }
  & .twitter {
    background-image: url("/image/C_sns_2.gif");
  }
  & .line {
    background-image: url("/image/C_sns_3.gif");
  }
  & .google {
    background-image: url("/image/C_sns_4.gif");
  }
}

.footer {
  margin-top: 20px;
  &__menu {
    
    & .acd-check{
      display: none;
    }
    & .acd-label{
      background: #A3A1A1;
      color: #fff;
      display: block;
      margin-bottom: 1px;
      padding: 10px 40px;
      position: relative;
      &::after{
        background:transparent;
        // box-sizing: border-box;
        content: '+';
        display: block;
        height: 52px;
        padding: 10px 20px;
        position: absolute;
        right: 0;
        top: 0px;
      }
    }
    & .acd-content{
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition:all .5s;
      visibility: hidden;
      & ul {
        list-style: none;
        padding-left: 30px;
      }
      & a {
        text-decoration: none;
        color: #504F4F;
      }
    }
    & .acd-check:checked + .acd-label:after{
      content: '-';
    }
    & .acd-check:checked + .acd-label + .acd-content{
      height: 200px;
      opacity: 1;
      padding: 10px;
      visibility: visible;
    }
  }
}

.show {
  
  & p {
    margin: 0;
  }
  &__title {
    font-size: 22px;
    font-weight: 600;
    color: #6C4B4B;
    padding: 20px 0;
    margin-left: 20px;
    & > p {
      height: 22px;
    }
  }
  &__img {
    
    & .main-img {
      height: 276px;
      background-size: cover;
      background-position: center;  
      background-image: url("/image/B_mejiro_02.jpg");
    }
    & .sub-img {
      display: flex;
      height: 134px;
      margin-top: 5px;
      & > div {
        width: 134px;
        background-size: cover;
        background-position: center;  
      }
      & > :nth-child(1) {
        background-image: url("/image/B_mejiro4.jpg");
      }
      & > :nth-child(2) {
        background-image: url("/image/B_mejiro5.jpg");
      }
      & > :nth-child(3) {
        background-image: url("/image/B_mejiro3.jpg");
      }
      & > :nth-child(even) {
        margin: 0 5px;
      }
    }
  }
  &__content{
    margin: 0 30px;
    margin-top: 30px;
    & .main-content {
      font-size: 12px;
      border: 1px solid;
      border-radius: 20px;
      padding: 18px 30px;
      margin-bottom: 20px;
    }
    
    & .sub-content {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
  & .back-page {
    text-align: center;
    
    & > p {
      border: 1px solid;
      border-radius: 30px;  
      width: 97px;
      height: 25px;
      margin-left: auto;
    }
  }
}