.section-wrapper {
  padding: 50px 0;
}

.main-copy {
  font-size: 20px;
  right: 12%;
}

.catchphrase {
  font-size: 72px;
  line-height: 60px;
}

/* ---------------------------- */
/* About us
/* ---------------------------- */
.bg-inner-about {
  margin: 110px auto 110px 50px;
}

/* ---------------------------- */
/* Works
/* ---------------------------- */

/* ---------------------------- */
/* Culture
/* ---------------------------- */
.pc-flex-inner {
  display: flex;
  justify-content:space-between;
  margin: 0 auto;
}
.pc-flex-wrapper {
  width: 100%;
  margin: 0;
  padding: 170px 0 60px 0; 
}

/* ---------------------------- */
/* Topics
/* ---------------------------- */
.date {
  font-size: 12px;
}
.caption {
  font-size: 14px;
}

.wrapper-topic {
  display: flex;
  justify-content: space-between;
}

.right {
  margin-left: auto;
}

/* ---------------------------- */
/* Contact
/* ---------------------------- */
.bg-wrapper-contact {
  max-width: 100%;
}
.contact-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.contact-content {
  width: 440px;
}

.contact-img {
  width: 580px;
  height: 390px;
}