.section-title {
  font-size: 32px;
}

.section-caption {
  font-size: 16px;
}

/* ---------------------------- */
/* Works
/* ---------------------------- */

.works-img {
  height: 350px;
}

/* ---------------------------- */
/* Culture
/* ---------------------------- */
.culture-img {
  height: 350px;
}

/* ---------------------------- */
/* Topics
/* ---------------------------- */
.date {
  font-size: 12px;
}
.caption {
  font-size: 14px;
}