.section-title {
  font-size: 32px;
}

.section-caption {
  font-size: 16px;
}

/* ---------------------------- */
/* About
/* ---------------------------- */
.vision-wrapper {
  max-width: 415px;
}
/* ---------------------------- */
/* Works
/* ---------------------------- */

.works-img {
  height: 350px;
}

/* ---------------------------- */
/* Culture
/* ---------------------------- */
.culture-img {
  height: 350px;
}

/* ---------------------------- */
/* Topics
/* ---------------------------- */
.date {
  font-size: 12px;
}
.caption {
  font-size: 14px;
}

/* ---------------------------- */
/* Contact
/* ---------------------------- */
.contact-type {
  display: flex;
}

.type-item {
  margin-right: 60px;
}